:root {
	--bg-color: white;
	
	--card-bg-color: white;
	
	--body-bg-color: moccasin;/*beige*/
	--body-fg-color: black;

	--link-color: cadetblue;
	--header-fg-color: darkslategray;
	
	--body-fg2-color: white;
	--body-bg2-color: darkslategray;
	
	/* https://github.com/morhetz/gruvbox */
	--gruv-fg: #ebdbb2;
	--gruv-bg: #282828;
	
	--gruv-red: #fb4934;
	--gruv-redd: #cc241d;
	
	--gruv-green: #b8bb26;
	--gruv-greend: #98971a;
	
	--gruv-yellow: #fabd2f;
	--gruv-yellowd: #d79921;
	
	--gruv-blue: #83a598;
	--gruv-blued: #458588;
	
	--gruv-purple: #d3869b;
	--gruv-purpled: #b16286;
	
	--gruv-aqua: #8ec07c;
	--gruv-aquad: #689d6a;
	
	--gruv-gray: #a89984;
	--gruv-grayd: #928374;
	
	--gruv-orange: #fe8019;
	--gruv-oranged: #d65d0e;

	font-size: 0.96vw;
}

body {
	background-color: var(--bg-color);
	margin: 0px;padding: 0px;

	font-family: Helvetica, "Helvetica", Arial, sans-serif;

	font-size: 1.92vw;
}

@media screen and (orientation: landscape) {
	body {
		font-size: 1.92vh;
	}
}

#overlay {
	position: fixed;
	/*display: ;*/
	width: 100%;
	height: 100%;
	top: 0px;left: 0px;right: 0px;bottom: 0px;
	background-color: rgba(0,0,0,0.4);
	z-index: 2;
	cursor: pointer;
}

#overlay > img {
	display: block;
	
	max-width: 100%;
	max-height: 100%;
	
	padding: 0px;
	margin: 0px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	
	z-index: 3;
}

#overlay > div.context {
	position: absolute;
	/*left:4em;top:4em;*/
	
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 1em 2.25em rgba(255, 255, 255, 0.7);
	
	z-index: 4;
}

img {
	padding: 0px;
	margin: 0px;
}

p {
	text-indent: 1.5em;
	margin: 0.5em;
}

h2 {
	font-size: 1.4em;
	color: var(--header-fg-color);
}

h3 {
	font-size: 2em;
	color: var(--header-fg-color);
}

h4 {
	font-size: 1.14em;
	margin: 0.25em;
	color: var(--header-fg-color);
}

a {
	text-decoration: underline;
	color: var(--link-color);
}

div.codewrapper {
	background-color: var(--body-bg2-color);
	color: var(--body-fg2-color);
	
	padding: 0em;
	padding-bottom: 0.5em;
	
	/*margin-left: -1.5em;
	padding-left: 1.5em;*/
	
	display: block;
	/*overflow: auto;*/
}

div.codewrapper > p {
	font-size: 0.7em;
	margin: 0.5em;
}

pre.codewrapper {
	/*margin: 0.7em;*/
	padding: 0.7em;
	font-size: 0.7em;
	
	color: var(--gruv-fg);
	background-color: var(--gruv-bg);
	
	overflow: auto auto;
	
	/*max-height: calc(0.7em * 24);*/
	
	/*outline: 1px solid var(--body-bg-color);
	outline-offset: -2px;*/
}

span.comment {
	color: var(--gruv-yellow);
}

span.number {
	color: var(--gruv-green);
}

span.control {
	color: var(--gruv-aqua);
}

div.card {
	background-color: var(--card-bg-color);
	margin: 0.5em;
	margin-left: -1.5em;
	display: block;
	overflow: auto;
}

div.card > img {
	margin-right: 0.5em;
	display: block;
	
	width: auto;
	height: 100%;
	
	clear: both;
	float: left;
}

div.section {
	background-color: var(--body-bg-color);
	color: var(--body-fg-color);
	
	margin-left: 3em;/*margin-right: 30pt;*/
	padding: 1.5em;
	font-size: 1.25em;
}

div.sectiondark {
	background-color: var(--header-fg-color);
	color: var(--body-bg-color);
	
	margin-right: 3em;/*margin-right: 30pt;*/
	padding: 1.5em;
	padding-top: 1em;
	font-size: 1.25em;
}

div.video {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: black;
	max-height: 720px;
	
	/*box-shadow: 0.0em 0.5em 0.5em rgba(0, 0, 0, 0.4);*/
}

div.video > iframe {
	margin: auto;
	margin-top: 0px;margin-right: 0px;
}

div.gallery,div.gallerylarge {
	background-color: black;
	/*box-shadow: 0.0em 0.5em 0.5em rgba(0, 0, 0, 0.4);*/
	
	padding: 0px;
	margin: 0px;
	
	display: flex;
	flex-wrap: nowrap;
	
	overflow-x: scroll;
	overflow-y: hidden;
	
	white-space: nowrap;
	
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	
	align-items: center;
}

div.gallery > img {
	display: block;
	max-height: 45vh;
	margin: auto;
	padding: 0px;
	max-width: 95vw;
	scroll-snap-align: none center;
}

div.gallerylarge > img {
	display: block;
	max-height: 60vh;
	margin: auto;
	padding: 0px;
	max-width: 95vw;
	scroll-snap-align: none center;
}

@media (prefers-color-scheme: dark) {
	:root {
		/*--bg-color: dimgray;*/
		--bg-color: black;
		
		--card-bg-color: black;
		
		--body-bg-color: #282828;
		--body-fg-color: white;
		
		--body-fg2-color: white;
		--body-bg2-color: teal;
		
		--link-color: darkturquoise;
		--header-fg-color: darkturquoise;
	}
	
	div.codewrapper {
		outline: 1px solid moccasin;
	}
	
	pre.codewrapper {
		outline: 1px solid moccasin;
	}
	
	h4 {
		color: darkturquoise;
	}
	
	div.section {
		border-left: 0.3em solid moccasin;
	}
	
	div.sectiondark {
		background-color: moccasin;
		color: black;
	}
	
	div.sectiondark > a {
		color: black;
	}
}