:root {
	--bg-color: white;

	--body-bg-color: beige;
	--body-fg-color: black;

	--header-fg-color: darkslategray;

	--gruv-fg: #ebdbb2;
	--gruv-bg: #282828;
	--gruv-red: #fb4934;
	--gruv-redd: #cc241d;
	--gruv-green: #b8bb26;
	--gruv-greend: #98971a;
	--gruv-yellow: #d79921;
	--gruv-yellowd: #fabd2f;
	--gruv-blue: #83a598;
	--gruv-blued: #458588;
	--gruv-purple: #d3869b;
	--gruv-purpled: #b16286;
	--gruv-aqua: #8ec07c;
	--gruv-aquad: #689d6a;
	--gruv-gray: #a89984;
	--gruv-grayd: #928374;
	--gruv-orange: #fe8019;
	--gruv-oranged: #d65d0e;

	font-size: 0.96vw;
}

body {
	background-color: var(--bg-color);
	margin: 0px;padding: 0px;

	font-family: Helvetica, "Helvetica", Arial, sans-serif;

	font-size: 1.92vw;
}

@media screen and (orientation: landscape) {
	body {
		font-size: 1.92vh;
	}
}

img {
	padding: 0px;
	margin: 0px;
}

h3 {
	font-size: 2em;
	color: var(--header-fg-color);
}

a {
	text-decoration: none;
	color: #938f3c;
}

div.section {
	background-color: var(--body-bg-color);
	margin-left: 30pt;/*margin-right: 30pt;*/
	padding: 1.5em;
	padding-top: 1em;
	font-size: 1.5em;
	color: var(--body-fg-color);
}

div.sectiondark {
	background-color: var(--body-fg-color);
	margin-right: 30pt;/*margin-right: 30pt;*/
	padding: 1.5em;
	padding-top: 1em;
	font-size: 1.5em;
	color: var(--body-bg-color);
}

div.gallery {
	padding: 0px;
	margin: 0px;
	/*height: 1.92vh;*/
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

div.gallery > img {
	height: 45vh;
	margin: 0px;
	padding: 0px;
	scroll-snap-align: none center;
}
